@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
 }

 html, body {
   height: 100%;
   width: 100%;
   background: #fff;
   /* background: rgb(63,94,251); */
   /* background: linear-gradient(122deg, rgba(63,94,251,1) 50%, rgba(70,239,252,1) 100%);   */
 }

 h3 {
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   line-height: 26px;
   font-weight: 600;
   letter-spacing: 1px;
   color: #171717;
 }

 p {
   font-family: 'Montserrat', sans-serif;
 }

  .container {
   width: 100%;
   /* max-width: 950px; */
   margin: 0 auto;
   background-color: transparent;
 }

 .flex-container {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
 }

 li.navBar-link {
   font-family: 'Montserrat', sans-serif;
   opacity: .6;
   font-size: 16px;
   font-weight: 600;
   list-style: none;
   display: inline;
   text-decoration: none;
 }

  ul li::marker {
    margin-right: 25px;
  }
 /* li {
   list-style: none;
   display: inline;
   text-decoration: none;
 } */

 a {
   text-decoration: none;
   color: black;
 }

 .navBar {
   width: 100%;
   display: flex;
   justify-content: center;
   padding: 10px 20px;
 }

 .navBar-items {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
 }

/* DESKTOP larger than laptop */
@media only screen and (min-width: 1400px) {
   .container {
   max-width: 1300px !important;
  }

  .flex-container {
    width: 100%;
  }
}

/* TABLET & MOBILE layout */
 @media only screen and (max-width: 960px) {
   .container {
   max-width: 1300px !important;
  }

  .flex-container {
    width: 100%;
    justify-content: space-evenly;
  }
}
