
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');


 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px
 }

 html, body {
   height: 100%;
   width: 100%;
   background: #fff8f0;
   /* background: rgb(63,94,251); */
   /* background: linear-gradient(122deg, rgba(63,94,251,1) 50%, rgba(70,239,252,1) 100%);   */
 }

 h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: .06em;
  font-weight: 400;
 }

 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: rgba(117, 117, 117, 1); 
 }

 h3 {
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   line-height: 26px;
   font-weight: 600;
   letter-spacing: 1px;
   color: #171717;
 }

 p {
   font-family: 'Montserrat', sans-serif;
   overflow-wrap: break-word;
 }

  .container {
   width: 100%;
   /* max-width: 950px; */
   margin: 0 auto;
   background-color: transparent;
 }

 .homepage-title-wrapper {
   width: 100%;
   display: flex;
   justify-content: center;
   padding: 50px;
 }

 .articlepage-title-wrapper {
   width: 100%;
   display: flex;
   justify-content: center;
   padding-bottom: 100px;
 }

 #homepage-title, #articlepage-title {
   font-size: 105px;
   line-height: 111px;
   text-align: center;
   font-weight: 600;
 }

 .featured {
   margin-top: 500px;
 }

 .featured, .about {
  height: 100vh;
 }

 #featured-section, #about-section {
   font-size: 55px;
   line-height: 61px;
   font-weight: 600;
   text-align: center;
 }

  
 .flex-container {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
 }

 li.navBar-link {
   font-family: 'Montserrat', sans-serif;
   opacity: .6;
   font-size: 16px;
   font-weight: 600;
   list-style: none;
   display: inline;
   text-decoration: none;
 }

  ul li::marker {
    margin-right: 25px;
  }
 /* li {
   list-style: none;
   display: inline;
   text-decoration: none;
 } */

 a {
   text-decoration: none;
   color: black;
 }

 .navBar {
   width: 100%;
   display: flex;
   justify-content: center;
   padding: 10px 20px;
 }

 .navBar-items {
   width: 100%;
   display: flex;
   justify-content: flex-start;
   /* justify-content: space-evenly; */
 }

 .navBar-link {
   margin: 0 20px;
 }

 .hamburger {
    padding: 10px;
    position: relative;
    top: -10px;
    right: -15px;
    cursor: pointer;
    transition: all .5s ease;
    /* display: none; */
    cursor: pointer;
    z-index: 2;
  }
  

 .line {
    height: 3px;
    width: 30px;
    margin: 3px;
    border: none;
    border-radius: 15px;
    background-color: #000;
  }


 .error-container {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   padding: 50px;
 }

 .error-img {
   width: 40%;
   padding: 25px;
 }

 .error-text {
   width: 60%;
   padding: 25px;
 }

 .button-wrapper {
   margin-top: 25px;
 }

 .error-message-wrapper {
   width: 100%;
   text-align: center;
   background-color: red;
   opacity: .3;
   color: white;
   padding: 10px;
   margin: 10px;
 }

/* DESKTOP larger than laptop */
@media only screen and (min-width: 1400px) {
   .container {
   max-width: 1300px !important;
  }

  .flex-container {
    width: 100%;
  }
}

/* TABLET & SOME MOBILE layouts */
 @media only screen and (max-width: 960px) {
   .container {
   max-width: 1300px !important;
  }

  .flex-container {
    width: 100%;
    justify-content: space-evenly;
  }
}

